eclipse/H5ProjectWizardPlugin/test/com/htmlhifive/tools/wizard/library/model/xml/libraries.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.htmlhifive.com/schema/libraries" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.htmlhifive.com/schema/libraries">

	<xsd:element name="libraries">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="site-libraries" maxOccurs="1" minOccurs="0" />
				<xsd:element ref="default-libraries" maxOccurs="1" minOccurs="0" />
				<xsd:element ref="base-projects" maxOccurs="1" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="library">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="site" maxOccurs="unbounded" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute name="version" type="version" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="category">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="info" maxOccurs="unbounded" minOccurs="0" />
				<xsd:element ref="license" maxOccurs="1" minOccurs="0" />
				<xsd:element ref="library" maxOccurs="unbounded" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute name="org" use="required">
				<xsd:simpleType>
					<xsd:restriction base="org"></xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="name" type="categoryName" use="required" />
			<xsd:attribute name="path" type="xsd:normalizedString" use="required" />
			<xsd:attribute name="licenseUrl" type="xsd:anyURI" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="site">
		<xsd:complexType>
			<xsd:attribute name="url" type="url" use="required" />
			<xsd:attribute name="file-pattern" type="xsd:normalizedString" />
			<xsd:attribute name="extract-path" type="xsd:normalizedString" />
			<xsd:attribute name="replace-file-name" type="siteName" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="default-libraries">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="library-ref" maxOccurs="unbounded" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="library-ref">
		<xsd:complexType>
			<xsd:attribute name="org" type="org" use="required" />
			<xsd:attribute name="name" type="categoryName" use="required" />
			<xsd:attribute name="version" type="version" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:simpleType name="org">
		<xsd:restriction base="xsd:normalizedString"></xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="categoryName">
		<xsd:restriction base="xsd:normalizedString"></xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="version">
		<xsd:restriction base="xsd:NMTOKEN"></xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="url">
		<xsd:restriction base="xsd:anyURI"></xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="siteName">
		<xsd:restriction base="xsd:normalizedString"></xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="license">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"></xsd:restriction>
		</xsd:simpleType>
	</xsd:element>

	<xsd:element name="site-libraries">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="category" maxOccurs="unbounded" minOccurs="0" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="base-project">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="info" maxOccurs="unbounded" minOccurs="1" />
				<xsd:element ref="replace" maxOccurs="1" minOccurs="0" />
				<xsd:element ref="natures" maxOccurs="1" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute name="url" type="url" use="required" />
			<xsd:attribute name="default-js-lib-path" type="xsd:normalizedString" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="info">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="title" maxOccurs="1" minOccurs="0" />
				<xsd:element ref="description" maxOccurs="1" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute name="lang" type="lang" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="base-projects">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="base-project" maxOccurs="unbounded" minOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="title" type="xsd:normalizedString" />

	<xsd:element name="description" type="xsd:string" />

	<xsd:simpleType name="lang">
		<xsd:restriction base="xsd:language"></xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="replace">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="file" maxOccurs="unbounded" minOccurs="1" />
			</xsd:sequence>
			<xsd:attribute name="target" type="xsd:normalizedString" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="file">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:normalizedString" use="required" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="natures">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="nature" maxOccurs="unbounded" minOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="nature">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:NMTOKEN" use="required" />
			<xsd:attribute name="name" type="xsd:normalizedString" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>